{name, "efene"}.
{authors, ["Mariano Guerra <luismarianoguerra@gmail.com>"]}.
{description, "Programming language with C-like syntax that runs on the Erlang platform"}.
{homepage, "http://marianoguerra.com.ar/efene"}.
{license, "BSD", "LICENSE"}.
{url, {git, "https://github.com/marianoguerra/efene.git", {branch, "master"}}}.
{build_command, "./build.sh"}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
{bin_files, ["bin/efene"]}.
